<nav class="navbar navbar-inverse navbar-fixed-top>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">My Bootstrap Site</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Kate Kilian Vovk</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container">

  <div class="alert alert-success" role="alert">
    <p>If this is the first time you're visiting, make sure to sign up for our email list!</p>
  </div>

  <div class="page-header">
    <h1>My First Header</h1>
  </div>

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>

  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
  </ol>

  <div class="jumbotron">
    <h1>I'm excited you're here!</h1>
    <p class="lead">We're going to learn a lot together.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Class info</a></p>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">It's a panel!</h3>
    </div>
    <div class="panel-body">
      I have no idea what to write here.
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>This is some text that I'm choosing to put here.</p>
      </br>
      <p>I'm putting different text here.</p>
    </div>
    <div class="col-md-6">
      <p>This is some text that I'm choosing to put here.</p>
    </br>
    <p>I'm putting different text here.</p>
    </div>
  </div>

  <div class="well">I'm in a well! I'm on a horse!</div>

  <div class="row">
    <div class="col-md-4">
      <p class="text-right">Suspendisse faucibus cursus nulla sit amet rhoncus. Morbi mattis convallis orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent aliquet, lorem ut volutpat condimentum, nunc quam dapibus lorem, vel tempus sapien massa vel leo. Nulla a lobortis mauris. Nunc congue mauris enim, at placerat nunc luctus at. Ut lacus ipsum, rutrum ac est ut, molestie aliquam lorem. Etiam ac elit ligula.</p></div>
    <div class="col-md-4">
      <p class="text-center">LOOK! I'M CENTERED!</p></div>
    <div class="col-md-4">
      <p class="text-left">Suspendisse faucibus cursus nulla sit amet rhoncus. Morbi mattis convallis orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent aliquet, lorem ut volutpat condimentum, nunc quam dapibus lorem, vel tempus sapien massa vel leo. Nulla a lobortis mauris. Nunc congue mauris enim, at placerat nunc luctus at. Ut lacus ipsum, rutrum ac est ut, molestie aliquam lorem. Etiam ac elit ligula.</p></div>
  </div>

  <table class="table table-bordered table-striped">
      <tr>
        <td>Name</td>
        <td>Age</td>
      </tr>
    <tbody>
      <tr>
        <td>Kate</td>
        <td>27</td>
      </tr>
      <tr>
        <td>Artem</td>
        <td>26</td>
      </tr>
      <tr>
        <td>Justin</td>
        <td>19</td>
      </tr>
    </tbody>
  </table>

</div><!-- /.container -->
